:root {
  --bg: #F7F5F5;
  --text: #242424;

  --dark-bg: #141414;
  --dark-text: #F7F5F5;
}
.dark_mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  text-overflow: ellipsis;
  margin: 0;
}

hr {
  border: none;
  height: 1px;
  background-color: var(--text);
  margin-top: 20px;
  margin-bottom: 30px;
}
.dark_mode hr {
  background-color: var(--dark-text);
}

a:link {
  color: var(--text);
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  text-decoration: solid;
  width: 100%;
}

a:visited {
  color: var(--text);
}

.dark_mode a {
  color: var(--dark-text);
}

.dark_mode a:link {
  color: var(--dark-text)
}

h1 {
  font-weight: 800;
  font-size: x-large;
}

h2 {
  font-weight: 600;
  font-size: large;
}

h3{
  font-weight: 400;
}

h4 {
  font-weight: 500;
  font-size: small;
}

h5, h6 {
  font-weight: 300;
  font-size: small
}

h6 {
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-optical-sizing: auto;
}

p {
  font-size: 0.9rem;
  text-align: justify;
  text-justify: inter-word;
}

.cv {
  padding: 10px 20px 25px 20px;
}

.navbar {
  display: flex;
  flex-direction: row;
  box-sizing: border-box; 
  width: 100%;
  padding: 20px;
  align-items: center;
  justify-content: end;
}

.navbar__divider {
  height:20px;
  width: 1px;
  background-color: var(--text);
}

.navbar__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
  border: none;
  background-color: var(--bg);
}

.dark_mode .navbar__button {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}
.dark_mode .navbar__button img {
  filter: invert(1);
}

.navbar__button img {
  width: 20px;
  display: block;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.hero__header {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.hero__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__image {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: antiquewhite;
}

.hero__description {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.hero__name {
  font-weight: 500;
}

.skills_title {
  font-weight: 600;
}

.skills_list {
  list-style: none;
  list-style-position: inside;
  margin-left: -20px;
}

.skills_object {
  font-size: 0.9rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px
}

.experience {
  background-color: yellow;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.experience_entries{
  display: flex;
  flex-direction: column;
  justify-self: start;
  gap: 60px
}

.experience_entry .title {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.contact_links {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact_body {
  display: flex;
  gap: 10px;
}

.contact_link {
  text-decoration: none;
  width: 0;
  border-bottom: 0.1em solid var(--bg);
  transition: all .2s ease;
}

.contact_link:hover {
  width: 25%;
  border-bottom: 0.1em solid var(--text);
}

.footer {
  background-color: var(--text);
  color: var(--bg);
  width: 100%;
  padding: 20px 0px;
}

.footer h6 {
  padding-left: 20px;
}

.dark_mode .footer {
  background-color: var(--dark-text);
  color: var(--dark-bg);
}

/* @media screen and (min-width: 768px) {
    body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cv {
    width: 80vw;
  }
} */

@media screen and (min-width: 768px){

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cv {
    width: 80vw;
    letter-spacing: 0.5px;
  }
  .navbar {
    padding: 20px 80px;
  }
  hr {
    background-color: var(--bg);
  }
  .dark_mode hr {
    background-color: var(--dark-bg);
  }
  section {
    border: 1px solid var(--text);
    padding: 50px 30px;
    border-radius: 10px;
  }

  .experience_entries{
    gap: 80px
  }

}

@media screen and (min-width: 1270px){
  .cv {
    width: 50vw;
  }
}